{% extends '_base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  <div class="col-lg-10 offset-lg-1 content-block">
    <div class="block block-margin">
      <h1>Спробуй машинне навчання на дотик!</h1>
      <h2>Вітаю на моєму сайті</h2>
      <p>
        Сайт призначений для всіх, хто тільки починає цікавитись сферою машинного навчання.
        Тут ви знайдете цікаву та корисну інформацію українською мовою, яка допоможе вам розібратись
        у нюансах цього захоплюючого світу. Незалежно від вашого досвіду, я створив цей сайт з
        метою зробити машинне навчання доступним та зрозумілим для кожного.
      </p>
    </div>
    <div class="col-lg-6 content-block block">
      <a href="{{ '/ml' }}"><h4>Вступ до машинного навчання</h4></a>
      <p>Машинне навчання - це галузь штучного інтелекту, яка дозволяє комп'ютерам вчитися...</p>
    </div>
    <div class="col-lg-6 offset-lg-6 content-block block">
      <a href="{{ '/ml/types' }}"><h4>Типи машинного навчання</h4></a>
      <p>Навчання з вчителем використовує марковані дані, де вхідні дані мають...</p>
    </div>
    <div class="col-lg-6 content-block block">
      <a href="{{ '/neural_networks' }}"><h4>Основи нейронних  мереж</h4></a>
      <p>Штучні нейронні мережі - це математичні моделі, які наслідують роботу людського...</p>
    </div>
    <div class="col-lg-6 offset-lg-6 content-block block">
      <a href="{{ '/deep_learning' }}"><h4>Глибоке навчання</h4></a>
      <p>Глибоке навчання - це підгалузь машинного навчання, яка використовує глибокі...</p>
    </div>
  </div>
{% endblock %}
