{% extends '_base.html' %}

{% block title %}Типи машинного навчання{% endblock %}

{% block content %}
  <div class="col-lg-10 offset-lg-1 content-block">
    <div class="block block-margin">
      <h1>Типи машинного навчання</h1>
      <h4>Навчання з вчителем та без вчителя</h4>
      <p>
        Навчання з вчителем (supervised learning) використовує дані,
        у яких кожен приклад має асоційовану мітку або відповідь,
        що дозволяє алгоритму вчитися передбачати результати на основі вхідних даних.
        Це підходить для задач класифікації, регресії та інших завдань,
        де важливо вивчати зв'язок між вхідними даними та відповідями.
        <br><br>
        Навчання без вчителя (unsupervised learning), натомість, відбувається без будь-яких міток чи відповідей,
        і дозволяє алгоритмам виявляти приховані структури в немаркованих даних.
        Цей підхід використовується для кластеризації даних, зменшення розмірності,
        виявлення аномалій та інших завдань, де мета полягає в тому,
        щоб алгоритм самостійно виявляв корисні закономірності чи структури у вхідних даних.
      </p>
    </div>
    <div class="block block-margin">
      <h4>Підсилене навчання</h4>
      <p>
        Підсилене навчання включає розв'язання проблем,
        де агент повинен вчитися приймати рішення у взаємодії з довкіллям.
        Цей підхід базується на навчанні через взаємодію з навколишнім середовищем та
        включає в себе відзначення позитивних та негативних результатів для агента.
        Основними елементами підсиленого навчання є стратегія вибору дій та
        процес навчання на основі нагород і покарань.
        <br><br>
        У підсиленому навчанні агент вчиться приймати послідовні рішення в
        невизначеному середовищі з метою максимізувати загальну кумулятивну нагороду.
        Цей підхід часто використовується для навчання агентів в ігровому середовищі,
        оптимального керування в робототехніці, управління фінансовими портфелями та багатьох інших доменів,
        де важливо вирішувати послідовні завдання в умовах невизначеності та невизначеного результату.
      </p>
    </div>
  </div>
{% endblock %}
