{% extends '_base.html' %}

{% block title %}Основи нейронних  мереж{% endblock %}

{% block content %}
  <div class="col-lg-10 offset-lg-1 content-block">
    <div class="block block-margin">
      <h1>Основи нейронних  мереж</h1>
      <h4>Штучні нейронні мережі та їх використання</h4>
      <p>
        Штучні нейронні мережі - це математичні моделі, які наслідують роботу людського мозку.
        Вони використовуються для вирішення завдань, які включають розпізнавання зображень,
        мови, рекомендації, прогнозування та багато іншого.
      </p>
    </div>
    <div class="block block-margin">
      <h4>Перцептрони та глибокі нейронні мережі</h4>
      <p>
        Перцептрони - це найпростіші нейронні мережі, що складаються з входів, ваг та виходів.
        Схему простого перцептрона ви можете побачити на данному зображенні:<br>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/Simple_perceptron.svg/420px-Simple_perceptron.svg.png"
             alt="Simple perceptron" class="col-10 offset-1 col-lg-6 offset-lg-3"><br>
        Глибокі нейронні мережі - це нейронні мережі з багатьма прихованими шарами,
        які дозволяють моделям вирішувати складні завдання шляхом вивчення вкладених функцій.
      </p>
    </div>
    <div class="block block-margin">
      <h4>Архітектура та структура нейронних мереж</h4>
      <p>
        Нейронні мережі можуть мати різні архітектури, такі як згорткові нейронні мережі (CNN),
        рекурентні нейронні мережі (RNN) та трансформери, які підходять для різних видів завдань.
        Вони складаються з різноманітних шарів, таких як вхідний шар, приховані шари та вихідний шар,
        що взаємодіють між собою за допомогою ваг та функцій активації.
      </p>
    </div>
  </div>
{% endblock %}
