{% extends '_base.html' %}

{% block title %}Класифікація зображень котів та собак{% endblock %}

{% block content %}
  <div class="col-lg-6 offset-lg-3">
    <div class="block block-margin">
      <h1> Кіт або собака? </h1>
    </div>
    <div class="block block-margin">
      <h4> Завантажте фото, що містить кота або собаку </h4>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary col-12" type="submit">Класифікувати</button>
      </form>
    </div>
    {% if image %}
      <div class="block block-margin" style="text-align: center;">
        <h2> Результат класифікації </h2>
        <p>Ваше зображення:</p>
        <img src="{{ image.image }}"  alt="Uploaded Image" style="display: block; margin: 0 auto;">
        <p>Результат ШІ: {{ prediction }}</p>
      </div>
    {% endif %}
  </div>
{% endblock %}
