<p>
    Powered by <a href="https://www.linkedin.com/in/artem-kozatskyi/">Artem Kozatskyi</a> © 2023
</p>
<a target="_blank" href="https://github.com/Kozatskiy-Artem"><i class="fa fa-3x fa-github"></i></a>
<a target="_blank" href="https://www.linkedin.com/in/artem-kozatskyi/"><i class="fa fa-3x fa-linkedin"></i></a>
<a target="_blank" href="tg://resolve?domain=kadjit13"><i class="fa fa-3x fa-paper-plane"></i></a>
<a target="_blank" href="mailto:artem.kozatskyi@gmail.com"><i class="fa fa-3x fa-regular fa-at"></i></a>
