{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{{ '/' }}">LearnMLHub</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav nav-underline col-lg-12">
                <li class="nav-item dropdown p-2">
                    <a class="nav-link dropdown-toggle text-light" href="{{ '/book' }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Info
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ '/ml' }}">Вступ до машинного навчання</a></li>
                        <li><a class="dropdown-item" href="{{ '/ml/types' }}">Типи машинного навчання</a></li>
                        <li><a class="dropdown-item" href="{{ '/neural_networks' }}">Основи нейронних мереж</a></li>
                        <li><a class="dropdown-item" href="{{ '/deep_learning' }}">Глибоке навчання</a></li>
                    </ul>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown p-2">
                        <a class="nav-link dropdown-toggle text-light" href="{{ '/classifications/cats_or_dogs' }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Класифікація
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ '/classifications/cats_or_dogs' }}">Кіт або собака</a></li>
                            <li><a class="dropdown-item" href="{{ '/classifications/cats_or_dogs_pre_trained' }}">Кіт або собака, точніша модель</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown offset-lg-8">
                        <a class="nav-link dropdown-toggle text-light" href="{{ '/users/profile' }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <img
                                    width="30px"
                                    height="30px"
                                    style="border-radius: 10px;"
                                    src="{% if user.avatar %}{{ user.avatar.url }}{% else %}{% static 'img/default_avatar.png' %}{% endif %}"
                                    alt="User avatar"
                            >
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ '/users/profile' }}">Мій профіль</a></li>
                            <li><a class="dropdown-item" href="{{ '/classifications/user_models' }}">Мої моделі</a></li>
                            <li><a class="dropdown-item" href="{{ '/classifications/create_model' }}">Створити модель</a></li>
                        </ul>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" href="{{ '/users/logout/' }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item p-2 offset-lg-8">
                        <a class="nav-link text-light" href="{{ '/users/login/' }}">Login</a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link text-light" href="{{ '/users/registration/' }}">SignUp</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
