{% extends '_base.html' %}

{% block title %}My profile{% endblock %}

{% block content %}
  <div class="col-lg-8 offset-lg-2 content-block">
    <div class="block block-margin row">
      <h2 style="text-align: center;">Мій профіль</h2>
      <hr>
      <div class="col-lg-4">
          <img width="200px" height="200px" src="{{ user_dto.avatar }}" alt="User avatar">
      </div>
      <div class="col-lg-6">
        <p>Ім'я: {{ user_dto.first_name }} </p>
        <p>Прізвище: {{ user_dto.last_name }}</p>
        <p>Електронна адреса: {{ user_dto.email }}</p>
        <p>Дата реєстрації: {{ user_dto.date_joined }}</p>
      </div>
      <div class="col-lg-2">

      </div>
    </div>
  </div>
{% endblock %}
