{% extends '_base.html' %}
{% load static %}

{% block title %}Оновлення профілю{% endblock %}

{% block content %}
  <div class="col-lg-8 offset-lg-2 content-block">
    <form method="post" enctype="multipart/form-data" style="text-align: center;">
      {% csrf_token %}
      <div class="block block-margin row">
        <h2 class="col-11">Редагування профілю</h2>
        <a class="btn btn-info bi bi-arrow-return-left profile-buttons" href="{{ '/users/profile' }}"></a>
        <hr>
          <div class="col-lg-4">
            <img
                    width="200px"
                    height="200px"
                    src="{% if user_dto.avatar %}{{ user_dto.avatar }}{% else %}{% static 'img/default_avatar.png' %}{% endif %}"
                    alt="User avatar">
            <p>
              {{ form.avatar.label }}
              {{ form.avatar }}
            </p>
          </div>
          <div class="col-lg-6">
            <p>
              {{ form.email.label }}
              {{ form.email }}
            </p>
            <p>
              {{ form.first_name.label }}
              {{ form.first_name }}
            </p>
            <p>
              {{ form.last_name.label }}
              {{ form.last_name }}
            </p>
            <input class="btn btn-primary" type="submit" value="Оновити">
          </div>
      </div>
    </form>
  </div>
{% endblock %}
